* {
  box-sizing: border-box;
  background-color: #090314;
  font-family: 'Share Tech Mono', monospace;
  overflow-x: hidden; 
  color: #ffffff;
}
.navbar{
    border: 3px solid  #dd5ed7;;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 42, 141, 0.5), 
                0 0 10px rgba(255, 42, 141, 0.4), 
                0 0 15px rgba(255, 42, 141, 0.3), 
                0 0 20px rgba(255, 42, 141, 0.2);
    font-family: 'Share Tech Mono', monospace;
    margin: 12px;
  
    
}
.logo-box{
    background-color: #dd5ed7;
    padding: 6px 10px;           
    border-radius: 4px;
    margin-right: 12px;
    margin-left: 12px;
    font-family: 'Share Tech Mono', monospace;
}
.logo-name{
    margin-right: 12px;
    font-family: 'Share Tech Mono', monospace;
}
.text-logo-name{
    color:  #dd5ed7;
    font-size: small;
    font-family: 'Share Tech Mono', monospace;
}
.conteinerBtnsMenu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.btnmenu{
  background-color: transparent;
  color:#ffffff;
  border: 1px solid #dd5ed7;     
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px 12px;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
}
#btnmenuHome{
background-color: #dd5ed7;
border-color: #ffffff;
box-shadow: 0 0 5px rgba(255, 42, 141, 0.5), 
                0 0 10px rgba(255, 42, 141, 0.4), 
                0 0 15px rgba(255, 42, 141, 0.3), 
                0 0 20px rgba(255, 42, 141, 0.2);
}

/* Efecto al pasar el mouse por encima (Hover) */
.btnmenu:hover {
  background-color: rgba(217, 70, 239, 0.15);
  color: #ffffff;
  border-color: #d946ef;
  font-family: 'Share Tech Mono', monospace;
}

/* Estilo para el botón activo (como HOME en la imagen) */
.btnmenu.active {
  background-color: #ff2a8d;     /* Rosa neón brillante */
  color: #000000;               /* Texto negro */
  border: 1px solid #ffffff;    /* Borde blanco */
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("../IMG/hamburguesa.png") !important;
  border: 1px solid #dd5ed7 !important;     
  border-radius: 4px !important;
}

/**-------------------------------------------------------Banner -----------------------------------------------------------*/
.bannerCyan{
  width: 100%;
  height: 30px;
  background-color: #090314;
  padding: 3px;
  border-radius: 0px;
  overflow: hidden;
  border: none;
  outline: none;
  position: relative;
}
.bannerCyanLimits {
  background-color: #00f0ff;
  border-color: #00f0ff;
  height: 100%;
  border-radius: 4px;
  margin-inline: 33px;
  overflow: hidden;
  position: relative;
}
.textMotion {
  white-space: nowrap;
  color: #000000;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 2px;
  background-color: #00f0ff;
  display: inline-block;
  padding-left: 100%;
  animation: traslateText 50s linear infinite;
}
@keyframes traslateText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/**-------------------------------------------------------ConteinerHero -----------------------------------------------------------*/
.heroBg{
  background-color: #000000;
}
.conteinerHero{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  flex-wrap: wrap;
  border: 2px solid #00f0ff ;
  border-radius: 5px;
  box-shadow: 
    0 0 5px rgba(0, 240, 255, 0.5),   /* Brillo interno/cercano */
    0 0 10px rgba(0, 240, 255, 0.4),  /* Brillo medio */
    0 0 15px rgba(0, 240, 255, 0.3),  /* Brillo externo amplio */
    0 0 20px rgba(0, 240, 255, 0.2) !important;
    font-family: 'Share Tech Mono', monospace;
  padding: 30px;
  background-clip: padding-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  margin: 12px;
  margin-left: 35px;
  margin-right: 35px;
  height: 640px

}
.heroDots{
  position: static;
  top: 15px;
  left: 20px;
  display: flex;
  gap: 6px;
  font-weight: 900;
  width: 100%;
}
.dot1{
-webkit-text-stroke: 4px #0dfc05;
color: #0dfc05;
}
.dot2{
-webkit-text-stroke: 4px #f1f505;
color: #f1f505;
}
.dot3{
-webkit-text-stroke: 4px #dd5ed7;
color: #dd5ed7;
}
.addOpen{
  display: inline-block;
  border: 2px solid #0dfc05;
  border-radius: 5px;
  padding-inline: 4%;
  width: max-content;
  box-sizing: border-box;
}
.addOpenText{
  display: block;
  position: relative;
  color: #0dfc05;
  text-align: center;
  max-width: 100%;
  padding-inline:25px;
}
.addOpen:hover {
  transform: translateY(-5px);
  color: #f7f8f7;
  border-color: #fdfcfc;
  
}
.subtitleHero{
  color:#dd5ed7;
  font-size: 24px;
}
.descriotionHero{
  margin-top: 40px;
}
.buttonsAction{ /*Contener de botones*/
  display: inline-flex;
  justify-content:flex-end;
  gap: 24px;
  width: 100%;
  margin-top: 35px;
  padding: 10px ;
}
.btnAction{
  display: inline-flex;
  justify-content:flex-end;
  align-items:center;
  gap: 14px;
  color:#ffffff;
  border: 2px solid #ffffff;
  border-color: #ffffff;
  box-shadow: 6px 6px 0px #6a24a8;
  margin-bottom: 8px;
  margin-inline-end: 8px;
  padding: 10px 5px 5px 5px;
}
.bgIcon{
  background-color: transparent ;
}
.btnPink{
  background-color: #dd5ed7;
  color:#ffffff;
  border-color: #ffffff;
  box-shadow: 4px 4px 0px #090314;
  border: 2px solid #ffffff;
  border-color: #ffffff;
  box-shadow: 6px 6px 0px #6a24a8;
  padding:15px;
  text-decoration: none;
}           
.btnPink:hover{
  background-color: rgba(217, 70, 239, 0.15);
  color: #ffffff;
  border-color: #d946ef;
  font-family: 'Share Tech Mono', monospace;
  transform: translateY(-5px);
}
.btnGrey{
  background-color: #5a595a;
  text-decoration: none;
  padding:15px;
}
.btnGrey:hover{
  background-color: rgba(230, 229, 231, 0.822);
  color: #080808;
  border-color: #d946ef;
  font-family: 'Share Tech Mono', monospace;
  transform: translateY(-5px);
}
.btnCyan{
  background-color: #00f0ff;
  text-decoration: none;
  padding:15px;
}
.btnCyan:hover{
  background-color: rgba(12, 117, 236, 0.822);
  color: #fdfcfc;
  border-color: #d946ef;
  font-family: 'Share Tech Mono', monospace;
  transform: translateY(-5px);
}
.photoHero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.conteinerPhotoHero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px;
  overflow: hidden;
}
.onlineText{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 25px;
  color:#00f0ff;
  width: 100%;
}
.photoMeImg{
  width: 320px;
  height: 400px;
  border: 4px solid #00f0ff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 6px 6px 0px #6a24a8;
}
.photoMeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.banner3{
  background-color: #f1f505;
}
.textbaner23{
animation: traslateText 60s linear infinite;
}
.fottter{
  border: 3px solid  #dd5ed7;;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 42, 141, 0.5), 
              0 0 10px rgba(255, 42, 141, 0.4), 
              0 0 15px rgba(255, 42, 141, 0.3), 
              0 0 20px rgba(255, 42, 141, 0.2);
  font-family: 'Share Tech Mono', monospace;
  margin: 12px;
  padding: 20px;
}

/*********************************************************************************/
/*************************************ABOUT ME************************************/
/*********************************************************************************/
.contenierTSEA{
  border: 3px solid  #dd5ed7;;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 42, 141, 0.5), 
              0 0 10px rgba(255, 42, 141, 0.4), 
              0 0 15px rgba(255, 42, 141, 0.3), 
              0 0 20px rgba(255, 42, 141, 0.2);
  margin-bottom: 1em;
}
.resumePer{
  color: #adf505;
}
.terminalInfo p{
  color:#00f0ff;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 4px;
  background-color: transparent;
  margin-inline-start: 15px;
}
.techImg:hover{
  transform: translateY(-5px);
}
.bgBtnIMg{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 310px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  background-image: url(../IMG/educación.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 0px;
  border-radius: 6px;
}
.bgBtnIMgInset{
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  background-image: url(../IMG/educación.jpg);
}
.conteinerBtnImg {
  max-width: 450px !important; /* Ajusta este valor según lo grande que lo necesites */
}
.imgEdu:hover{
  transform: translateY(-5px);
}
.conteinerExp{
  margin-inline: 2em;
  background-image: url(../IMG/vaporwave-sunset.gif);
  background-size: contain;
}
.imgExpsCont{
  background-color: transparent !important;
}
.conteinerIdiom{
  background-image: url(../IMG/supa.gif);
  background-size:contain;
}
.conteinerAboutMe{
  background-image: url(../IMG/fondo.gif);
   background-size: 100% 100%;
  background-repeat: no-repeat;
}
.conteinerEducation{
  background-image: url(../IMG/paisaje.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}